* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

* {
    font-family: manospace;
}

h1 {
    text-align: center;
}

Img {
    width: 700px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:12px solid rgb(19, 16, 1);

}

h2 {
    text-align: center;
    color: maroon;
    font-size: 30px;
}

.different {
    color: black;
}

p {
    color: black;
    font-size: 24px;
}

.love {
    color: crimson
}

.music {
    color: green;
}
.one{ text-align: center;
    color: black;
    font-size: 25px;
}
h3{ color:forestgreen;

}

body { background-image:url(../images/cream1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    } 

.parent-container{
        border:5px solid rgb(243, 240, 221);
        padding:5vh ;
        width: 100;
    }